name: Practice Work Flow

on: 
  workflow_dispatch:

jobs: 
  aws: 
    runs-on: ubuntu-latest

    steps:
      - name: checkout Repo
        uses: actions/checkout@v4

      - name: Run Test Shell Command
        run: echo "Temp workflow running..." ; touch templogFile.txt ; echo test success! >> templogFile.txt

  clemsonTigers: 
    runs-on: ubuntu-latest

    steps:
      - name: checkout Repo
        uses: actions/checkout@v4

      - name: Run Test Shell Command
        run: echo "Temp workflow running..." ; touch templogFile.txt ; echo test success! >> templogFile.txt
        